@model IEnumerable<AdventureWorks.UI.Models.BillOfMaterialsViewModel>

<h2>Bill of Materials</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>ProductAssemblyId</th>
            <th>ComponentId</th>
            <th>Qty</th>
            <th>Unit</th>
            <th>BOM Level</th>
            <th>Modified</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BillOfMaterialsId</td>
                <td>@item.ProductAssemblyId</td>
                <td>@item.ComponentId</td>
                <td>@item.PerAssemblyQty</td>
                <td>@item.UnitMeasureCode</td>
                <td>@item.BomLevel</td>
                <td>@item.ModifiedDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BillOfMaterialsId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.BillOfMaterialsId" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.BillOfMaterialsId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>